NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/backend_starter?schema=public"
JWT_SECRET="NYVq4UhKQEBEDP2RCjsAyZ4rD7tEKswdivCKeiiXRAdtwrDtyQ9hiHfjKiDv"
JWT_EXPIRES_IN="15m"
CLIENT_URL="http://localhost:5173"
LOG_LEVEL="info"